.card_1 {
    background-image: url('../images/card_1.png');
}
.card_2 {
    background-image: url('../images/card_2.png');
}
.card_3 {
    background-image: url('../images/card_3.png');
}
.card_4 {
    background-image: url('../images/card_4.png');
}
.card_5 {
    background-image: url('../images/card_5.png');
}
.card_6 {
    background-image: url('../images/card_6.png');
}
.card_7 {
    background-image: url('../images/card_7.png');
}
.card_8 {
    background-image: url('../images/card_8.png');
}
.card_9 {
    background-image: url('../images/card_9.png');
}
.card_10 {
    background-image: url('../images/card_10.png');
}
.card_11 {
    background-image: url('../images/card_11.png');
}
.card_12 {
    background-image: url('../images/card_12.png');
}
.card_13 {
    background-image: url('../images/card_13.png');
}
.card_14 {
    background-image: url('../images/card_14.png');
}
.card_15 {
    background-image: url('../images/card_15.png');
}
.card_16 {
    background-image: url('../images/card_16.png');
}
.card_17 {
    background-image: url('../images/card_17.png');
}
.card_18 {
    background-image: url('../images/card_18.png');
}
.card_19 {
    background-image: url('../images/card_19.png');
}
.card_20 {
    background-image: url('../images/card_20.png');
}
.card_21 {
    background-image: url('../images/card_21.png');
}
.card_22 {
    background-image: url('../images/card_22.png');
}
.card_23 {
    background-image: url('../images/card_23.png');
}
.card_24 {
    background-image: url('../images/card_24.png');
}
.card_25 {
    background-image: url('../images/card_25.png');
}
.card_26 {
    background-image: url('../images/card_26.png');
}
.card_27 {
    background-image: url('../images/card_27.png');
}
.card_28 {
    background-image: url('../images/card_28.png');
}
.card_29 {
    background-image: url('../images/card_29.png');
}
.card_30 {
    background-image: url('../images/card_30.png');
}
.card_31 {
    background-image: url('../images/card_31.png');
}
.card_32 {
    background-image: url('../images/card_32.png');
}
.card_33 {
    background-image: url('../images/card_33.png');
}
.card_34 {
    background-image: url('../images/card_34.png');
}
.card_35 {
    background-image: url('../images/card_35.png');
}
.card_36 {
    background-image: url('../images/card_36.png');
}
.card_37 {
    background-image: url('../images/card_37.png');
}
.card_38 {
    background-image: url('../images/card_38.png');
}
.card_39 {
    background-image: url('../images/card_39.png');
}
.card_40 {
    background-image: url('../images/card_40.png');
}
.card_41 {
    background-image: url('../images/card_41.png');
}
.card_42 {
    background-image: url('../images/card_42.png');
}
.card_43 {
    background-image: url('../images/card_43.png');
}
.card_44 {
    background-image: url('../images/card_44.png');
}
.card_45 {
    background-image: url('../images/card_45.png');
}
.card_46 {
    background-image: url('../images/card_46.png');
}
.card_47 {
    background-image: url('../images/card_47.png');
}
.card_48 {
    background-image: url('../images/card_48.png');
}
.card_49 {
    background-image: url('../images/card_49.png');
}
.card_50 {
    background-image: url('../images/card_50.png');
}
.card_51 {
    background-image: url('../images/card_51.png');
}
.card_52 {
    background-image: url('../images/card_52.png');
}

.card_back {
    background-image: url('../images/card_back.png');
}

.card_404 {
    display: none;
}

.horizontal_cards {
    width: 50px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}
