._400_1 {
    background-image: url('../images/400_1.png');
}
._400_2 {
    background-image: url('../images/400_2.png');
}
._400_3 {
    background-image: url('../images/400_3.png');
}
._400_4 {
    background-image: url('../images/400_4.png');
}
._400_5 {
    background-image: url('../images/400_5.png');
}
._400_6 {
    background-image: url('../images/400_6.png');
}
._400_7 {
    background-image: url('../images/400_7.png');
}
._400_8 {
    background-image: url('../images/400_8.png');
}
._400_9 {
    background-image: url('../images/400_9.png');
}
._400_10 {
    background-image: url('../images/400_10.png');
}
._400_11 {
    background-image: url('../images/400_11.png');
}
.card_12 {
    background-image: url('../images/400_12.png');
}
._400_13 {
    background-image: url('../images/400_13.png');
}
._300_1 {
    background-image: url('../images/300_1.png');
}
._300_2 {
    background-image: url('../images/300_2.png');
}
._300_3 {
    background-image: url('../images/300_3.png');
}
._300_4 {
    background-image: url('../images/300_4.png');
}
._300_5 {
    background-image: url('../images/300_5.png');
}
._300_6 {
    background-image: url('../images/300_6.png');
}
._300_7 {
    background-image: url('../images/300_7.png');
}
._300_8 {
    background-image: url('../images/300_8.png');
}
._300_9 {
    background-image: url('../images/300_9.png');
}
._300_10 {
    background-image: url('../images/300_10.png');
}
._300_11 {
    background-image: url('../images/300_11.png');
}
._300_12 {
    background-image: url('../images/300_12.png');
}
._300_13 {
    background-image: url('../images/300_13.png');
}
._200_1 {
    background-image: url('../images/200_1.png');
}
._200_2 {
    background-image: url('../images/200_2.png');
}
._200_3 {
    background-image: url('../images/200_3.png');
}
._200_4 {
    background-image: url('../images/200_4.png');
}
._200_5 {
    background-image: url('../images/200_5.png');
}
._200_6 {
    background-image: url('../images/200_6.png');
}
._200_7 {
    background-image: url('../images/200_7.png');
}
._200_8 {
    background-image: url('../images/200_8.png');
}
._200_9 {
    background-image: url('../images/200_9.png');
}
._200_10 {
    background-image: url('../images/200_10.png');
}
._200_11 {
    background-image: url('../images/200_11.png');
}
._200_12 {
    background-image: url('../images/200_12.png');
}
._200_13 {
    background-image: url('../images/200_13.png');
}
._100_1 {
    background-image: url('../images/100_1.png');
}
._100_2 {
    background-image: url('../images/100_2.png');
}
._100_3 {
    background-image: url('../images/100_3.png');
}
._100_4 {
    background-image: url('../images/100_4.png');
}
._100_5 {
    background-image: url('../images/100_5.png');
}
._100_6 {
    background-image: url('../images/100_6.png');
}
._100_7 {
    background-image: url('../images/100_7.png');
}
._100_8 {
    background-image: url('../images/100_8.png');
}
._100_9 {
    background-image: url('../images/100_9.png');
}
._100_10 {
    background-image: url('../images/100_10.png');
}
._100_11 {
    background-image: url('../images/100_11.png');
}
._100_12 {
    background-image: url('../images/100_12.png');
}
._100_13 {
    background-image: url('../images/100_13.png');
}

.card_back_vertical {
      width: 100%;
    height: 100%;
    background-repeat: round;
    background-image: url('../images/card_back_vertical.png');
}


.horizontal_cards {
    width: 50px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}
.horizontal_cards_3 {
    width: 50px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 5px;
    background-image: url('../images/card_back_vertical.png');
}


.player1_card_Back{
    top: 400px;
    left: 45%;
    width:100px;
    height: 150px;
    position: absolute;
    background-repeat: round;
}
.player2_card_Back{
    position: absolute;
    top: 35%;
    right: 35%;
    width: 100px;
    height: 150px;
    background-repeat: round;
    transform: rotate(90deg);
}
.player3_card_Back{
    top: 25%;
    left: 45%;
    width:100px;
    height: 150px;
    position: absolute;
    background-repeat: round;
}
.player4_card_Back{
    position: absolute;
    top: 35%;
    left: 33%;
    width: 100px;
    height: 150px;
    background-repeat: round;
    transform: rotate(90deg);
}

.player_card_horizontal{
  width: 100px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 5px;
       background-image: url('../images/card_back_vertical.png');
}
