.flip_box{

}

.flip_card_font{
  transform: rotateY(180deg);
  height: inherit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.flip_card_back{
      position: absolute;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.flip{
  transition: 0.6s;
	transform-style: preserve-3d;
}

.flip_horizontal{
	transform: rotateY(180deg);
}
.flip_vertical {
	transform: rotateY(180deg);
}

/*
	.flip_box:hover .flip, .flip_box.hover .flip {
		transform: rotateY(180deg);
	}

.flip .card.flipped_horizontal {
    color: black;
    cursor: pointer;
    -webkit-transform: rotatex(-180deg);

}

.flipped_vertical {
    color: black;
    cursor: pointer;
    -webkit-transform: rotatey(-180deg);
}
*/
