/*背景桌面*/
.background_table {
    width: 100%;
    height: 768px;
    /*margin: 0 auto;*/ /*置中*/

    background-image: url('../images/table.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.winner{
    width: 100px;
    height: 100px;
    margin: auto 45%;
    z-index: 999;
    position: relative;
    vertical-align: auto 60%;
    top: 45%;
    background-color:red;
}
