/*背景桌面*/
.background_table {
    width: 100%;
    height: 768px;
    /*margin: 0 auto;*/ /*置中*/

    background-image: url('../images/table.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
