#player1_cards {
    position: absolute;
    top: 572px;
    left: 450px;
    width: 400px;
    height: 110px;

}

#player2_cards {
    position: absolute;
    top: 185px;
    right: 180px;
    width: 100px;
    height: 400px;
}

#player3_cards {
    position: absolute;
    top: 80px;
    left: 34%;
    width: 400px;
    height: 100px;

}

#player4_cards {
    position: absolute;
    top: 185px;
    left: 150px;
    width: 100px;
    height: 400px;

}
